{% extends 'Student/layout.html' %}

{% block content %}
    <div class="container d-flex mt-4 justify-content-around flex-wrap text-center">
{#        <div class="col-md-2">#}
{#                <a href="{% url 'attendance' %}"><i class="nav-link fa fa-clock-o fa-5x" style="color:coral"></i><br/>Attendance</a>#}
{#            </div>#}
            <div class="col-md-3">
                <a href="{% url 'profile' %}"><i class="nav-link fa fa-user fa-5x" style="color:coral"></i><br/>Profile</a>
            </div>
            {% if user.is_staff %}
                <div class="col-md-3">
                    <a href="{% url 'newassignment' %}"><i class="nav-link fa fa-tasks fa-5x" style="color:coral"></i><br/>Add New Assignment</a>
                </div>
            {% endif %}
            <div class="col-md-3">
                <a href="{% url 'assignment' %}"><i class="nav-link fa fa-briefcase fa-5x" style="color:coral"></i><br/>View Assignments</a>
            </div>
            {% if user.is_staff %}
                <div class="col-md-3">
                    <a href={% url 'add_new_exam' %}><i class="nav-link fa fa-file fa-5x" style="color:coral"></i><br/>Post Exam</a>
                </div>
            {% endif %}
            <div class="col-md-3">
                    <a href="{% url 'view_exam' %}"><i class="nav-link fa fa-file fa-5x" style="color:coral"></i><br/>View Exam</a>
                </div>
            {% if user.is_staff %}
                <div class="col-md-3">
                    <a href={% url 'add_new_course' %}><i class="nav-link fa fa-file fa-5x" style="color:coral"></i><br/>Add New Course</a>
                </div>
            {% endif %}
            <div class="col-md-3">
                <a href={% url 'view_course' %}><i class="nav-link fa fa-file fa-5x" style="color:coral"></i><br/>View All Courses</a>
            </div>
            {% if user.is_staff %}
                <div class="col-md-3">
                    <a href={% url 'add_new_program' %}><i class="nav-link fa fa-file fa-5x" style="color:coral"></i><br/>Add New Program</a>
                </div>
            {% endif %}
            <div class="col-md-3">
                <a href={% url 'view_program' %}><i class="nav-link fa fa-file fa-5x" style="color:coral"></i><br/>View All Program</a>
            </div>
    </div>

{% endblock %}