{% extends 'Student/layout.html' %}

{% block content %}
    <div class="container mx-auto mt-4">
        <div class="row mx-auto">
                <div class="col-md-9 mx-auto mt-5">
                    <table class="table table-bordered" >
                    <th>Exam/s</th>
                    <th>Course</th>
                    <th>Date</th>
                    <th>Time</th>
                    {% for assi in assign %}
                        {% if user.is_staff %}
                            <tr>
                                <td> {{ assi.name }}</td>
                                <td> {{ assi.course }}</td>
                                <td> {{ assi.date }}</td>
                                <td> {{ assi.time }}</td>
                            </tr>
                        {% else %}
                            {% for course in profile.course.values %}
                                {% if assi.course_id == course.id %}
                                    <tr>
                                        <td> {{ assi.name }}</td>
                                        <td> {{ assi.course }}</td>
                                        <td> {{ assi.date }}</td>
                                        <td> {{ assi.time }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    </table>
                </div>

        </div>
    </div>
{% endblock %}