{% extends 'Student/layout.html' %}

{% block content %}

    <div class="row mx-auto">
        <div class="card w-50 text-center mx-auto mt-5">
            <div class="card-header">
                <h4>Post new Assignment</h4>
            </div>
            <div class="card-body">
                <form method="POST" class="post-form form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-info" value="create" name="create">Create</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}